<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index">
        <img src="./images/logoGSB.png" alt="Logo GSB" style="height: 80px; width: auto; margin-right: 10px;">
        Galaxy Swiss Bourdin
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="../phpgroupe/index.php?action=CO">Conférence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../phpgroupe/index.php?action=JU">Mentions légales</a>
        </li>
        <li class="nav-item">
          <a class ="nav-link" href="../phpgroupe/index.php?action=CH">Nos Chercheurs</a>
        </li>
      </ul>
      <div class="navbar-text text-right">
        <a href="index?action=LO" style="padding-left:10px;">Se déconnecter</a>
      </div>
    </div>
  </nav>